<div id="loginPage">
<br>
<br>
<br>
<br>
<div class="ui grid container">
  <div class="ui one column stackable page grid">
    <div id="content">

      {{ messages-errors errors=errors }}
      <!-- {{ emptyErrors }} -->


    <form {{action 'authenticate' on='submit'}} class="ui error form inverted candy segment" id="loginForm">

      {{#semantic-input
        name=identification
        placeholder="Username"
        type="text"
        icon="user icon"
        inputID="loginIdentification"
        fieldID="full-width"
       }}{{/semantic-input}}

       {{#semantic-input
         name=password
         placeholder="Password"
         type="password"
         icon="lock icon"
         inputID="loginPassword"
         fieldID="full-width"
        }}{{/semantic-input}}

      <button type="submit" class="fluid ui green button" style="text-align: right!important;">Login</button>
    </form>
  </div>
</div>
</div>

</div>
