<div id="signUpPage">
<br>
<br>
<div class="ui grid container">
  <div class="ui one column stackable page grid">
    <div id="content">

    <form {{action 'register' on='submit'}} class="ui error form inverted candy segment" id="signUpForm">

      {{#semantic-input
        name=userName
        placeholder="Username"
        type="text"
        icon="user icon"
        inputID="signupUserName"
        fieldID="full-width"
        error=errors.user_name
       }}{{/semantic-input}}

      {{#semantic-input
        name=email
        placeholder="Email"
        type="email"
        icon="mail icon"
        inputID="signupEmail"
        fieldID="full-width"
        error=errors.email
       }}{{/semantic-input}}

       {{#semantic-input
         name=firstName
         placeholder="First Name"
         type="text"
         icon="info icon"
         inputID="signupFirstName"
         fieldID="full-width"
         error=errors.first_name
        }}{{/semantic-input}}

        {{#semantic-input
          name=lastName
          placeholder="Last Name"
          type="text"
          icon="info icon"
          inputID="signupLastName"
          fieldID="full-width"
          error=errors.last_name
         }}{{/semantic-input}}

         {{#semantic-input
           name=password
           placeholder="Password"
           type="password"
           icon="lock icon"
           inputID="signupPassword"
           fieldID="full-width"
           error=errors.password
          }}{{/semantic-input}}

          {{#semantic-input
            name=passwordConfirmation
            placeholder="Password Confirmation"
            type="password"
            icon="lock icon"
            inputID="signupPasswordConfirmation"
            fieldID="full-width"
            error=errors.password_confirmation
           }}{{/semantic-input}}


      <button type="submit" class="fluid green ui button" style="text-align: right!important;">SignUp</button>
    </form>
  </div>
</div>
</div>

</div>
