<div id="header">
  <div id="topMenu" class="ui inverted menu fixed without-radius">
    <a class="item"><img src="/assets/images/logo.png"></a>
    <a class="item">How it Works</a>
    <div class="right menu">

      {{#if session.isAuthenticated}}
        <a class="item" {{ action 'invalidateSession' }}>Logout</a>
        {{#link-to 'member.dashboard' class="item"}}Dashboard{{/link-to}}
      {{else}}
        {{#link-to 'guest.signup' class="item"}}SignUp{{/link-to}}
        {{#link-to 'guest.login' class="item"}}Login{{/link-to}}
      {{/if}}

    </div>
  </div>
</div>
<div id="wrapper">
  {{liquid-outlet}}
  {{liquid-outlet 'modal'}}
</div>
