{{#if errors}}
<div id="errors">

  <div class="ui negative message">
    <i {{ action "loadSUErr" errors on "click" }} class="close icon"></i>
    <div class="header">
      Something went wrong
    </div>
    <ul class="list">

        {{#each err in errors}}
          <li>{{err}}</li>
        {{/each}}

    </ul>
  </div>

</div>
{{/if}}
