body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
.without-radius {
  -webkit-border-radius: 0px!important;
  -moz-border-radius: 0px!important;
  border-radius: 0px!important;
}
.full-width {
  width: 100%!important;
}
.righ-text {
  text-align: right!important;
}
.left-text {
  text-align: left!important;
}
.center-text {
  text-align: center!important;
}
#login, #signup {
  background-color: #FFFFFF;
  width: 100%;
  position: absolute;
  min-height: 100%;
  clear:both;
}
#loginPage #content, #signUpPage #content {
  width: 100%;
  max-width: 400px;
  padding: auto 20%;
  margin: 0 auto;
}
#loginPage #loginForm, #signUpPage #signUpForm {
  background-color: #eeeff1;
}
.ui.input input {
  border-color: #e8e8e8!important;
}
#topMenu {
  background-color: #EFEFEF;
}
.ui.label.icon {
  width: 36px;
}
